{% extends "base.html" %}

{% block title %}
<title>Performance Information</title>
{% endblock title %}

{% block navbar %}
<li><a href="{% url 'theatre_project.views.home' %}">Home</a></li>
<li class="active"><a href="#">Performance Information<span class="sr-only">(current)</span></a></li>
<li><a href="{% url 'views.merchandise' %}">Merchandise</a></li>
<li><a href="{% url 'views.performances' %}">Upcoming Performances</a></li>
<li><a href="{% url 'views.ticket_sales' %}">Ticket Sales</a></li>

{% endblock %}
{% block content %}

<p>Performance Information Page</p>
{% endblock %}