{% extends "base.html" %}

{% block title %}
<title>Performance Information</title>
{% endblock title %}

{% block navbar %}
<li><a href="{% url 'theatre.views.home' %}">Home</a></li>
<li class="active"><a href="#">Performance Information<span class="sr-only">(current)</span></a></li>
<li><a href="{% url 'views.merchandise' %}">Merchandise</a></li>
<li><a href="{% url 'views.performances' %}">Upcoming Performances</a></li>
<li><a href="{% url 'views.ticket_sales' %}">Ticket Sales</a></li>

{% endblock %}
{% block content %}

<h1>Performance Information</h1>
	<div class="container">
           
            {% for performance in performances %}
                            <p style="float: right; padding-right:25px;"><img src="img.jpg" height="200px" width="200px"  border="10px"></p>
                            <p>lesuada magna mollis euismod. Donec sed odio dui. lesuada magna mollis euismod. Donec sed odio dui.lesuada magna mollis euismod. Donec sed odio dui.lesuada magna mollis euismod. Donec sed odio dui.</p>

                            <p>{{ performance.event_date }}</p>
                            <p>{{ performance.show_title }}</p>

                            {% for actors in performance.main_actors.all %}
                                    <td><a href="/bio?id={{ actors.id }}">{{ actors.first_name }} {{ actors.last_name }}</a></td>
                            {% endfor %}
                            
                                {% for information in performance.main_information.all %}
                                            {% endfor %}

                            <hr>
                    </tr>
            {% endfor %}

	</div>
    
        <hr>
                    <h1><center>CONTACT INFO</center></h1>
                    <p><center>2081 W. Highway 89A</center></p>
                    <p><center>Sedona, AZ  86336</center></p>
                    <p><center>928-282-2221</center></p>
                    <p><center>(Hwy 89A & Sunset Dr.)</center></p>
        
        {% endblock %}
