{% extends "base.html" %}

{% block title %}
<title>Merchandise</title>
{% endblock title %}

{% block navbar %}
<li><a href="{% url 'theatre.views.home' %}">Home</a></li>
<li><a href="{% url 'theatre.views.information_performance' %}">Performance Information</a></li>
<li class="active"><a href="#">Merchandise<span class="sr-only">(current)</span></a></li>
<li><a href="{% url 'theatre.views.performances' %}">Upcoming Performances</a></li>
<li><a href="{% url 'theatre.views.ticket_sales' %}">Ticket Sales</a></li>
{% endblock %}

{% block content %}

<p>merchandise Page</p>

<table width="800" border="0" cellpadding="5" align="center">

<tr>

<td align="center" valign="center">
<a href= ""><img title="Loyalty Shirt" src="/static/images/shirt.png"  align="middle" alt="Loyalty Shirt" width="250" height="270" />
           
<br />
Purchase Loyalty Shirt: $19.99
</td>

<td align="center" valign="center">
<a href=""><img title="Loyalty Cup" src="/static/images/cup.png"  align="middle" alt="Loyalty Cup" width="183" height="250" />
           
<br />
Purchase Loyalty Cup: $7.99
</td>

<td align="center" valign="center">
<a href=""><img title="Gift Voucher" src="/static/images/giftcard.png"  align="middle" alt="Gift Voucher" width="250" height="270" />
           

<br />
Purchase Gift Voucher: $25
</td>

</tr>

</table>







{% endblock %}
